.Header1{
    height: 40vh;
    width: 100vw;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    background-color: black;
}
.nav1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction:column;
}
.nav2{
    height: 50%;
    width: 100%;
    display: flex;
}

.nav3{
    height: 10%;
    width: 50%;
    display: flex;
    /* border: 1px solid blueviolet; */
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-left: -50px;
    
    
}
.maindiv{
    height: 400vh;
    width: 100vw;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;   
}
.subdiv1{
    height: 10%;
    width: 23%;
    display: flex;
    /* border: 1px solid yellow; */
    flex-direction:column ;
    /* justify-content: space-between; */
}
.img1{
    height: 60%;
    width: 100%;
    /* border: 1px solid blue; */
    flex-direction: column;
    flex-wrap: wrap;
}
.subdiv2{
    height: 10%;
    width: 23%;
    display: flex;
    /* border: 1px solid yellow; */
    flex-direction:column ;
    /* justify-content: space-between; */
}
.img2{
    height: 60%;
    width: 100%;
    /* border: 1px solid blue; */
    flex-direction: column;
    flex-wrap: wrap;
}



.lb1{
    height: 12.5%;
    width: 99%;
    /* border: 1px solid yellowgreen; */
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lb2{
    height: 12.5%;
    width: 99%;

    /* border: 1px solid yellowgreen;
    display: flex; */
    color:rgb(122, 115, 115);
}
.Footer1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* border: 1px solid brown; */
    background-color: rgb(25, 23, 23);
    flex-wrap: wrap;
}

.line1 {
    display: flex;
    /* border: 1px solid burlywood; */
    height: 70%;
    width: 100%;

}

.line2 {
    height: 100%;
    width: 20%;
    display: flex;
    /* border: 1px solid white; */
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.ik{
    height: 40%;
    width: 40%;
    display: flex;
    /* border: 1px solid blue; */

}
#logo{
height: 50px;
width: 60px;
}

.line3 {
    height: 100%;
    width: 20%;
    display: flex;
    /* border: 1px solid white; */

}
.line15{
    height: 100%;
    width: 60%;
    display: flex;
    /* border: 1px solid blue; */
}
.line4 {
    height: 100%;
    width: 33.2%;
    display: flex;
    line-height: 2;
    /* border: 1px solid white; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.line7 {
    height: 50%;
    width: 70%;
    /* border: 1px solid white; */
    display: flex;
    font-size: medium;
    flex-direction: column;
    line-height: 2;
}

.line5 {
    height: 100%;
    width: 33.2%;
    display: flex;
    /* border: 1px solid white; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.line8 {
    height: 50%;
    width: 70%;
    /* border: 1px solid white; */
    display: flex;
    font-size: medium;
    flex-direction: column;
    line-height: 2;
}

.line6 {
    height: 100%;
    width: 33.2%;
    display: flex;
    line-height: 1.5;
    /* border: 1px solid white; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.line9 {
    height: 50%;
    width: 70%;
    /* border: 1px solid white; */
    display: flex;
    font-size: medium;
    flex-direction: column;
    line-height: 2;

}

.line10 {
    height: 20%;
    width: 50%;
    display: flex;
    /* border: 1px solid greenyellow; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line11 {
    height: 100%;
    width: 78%;
    display: flex;
    /* border: 1px solid white; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media only screen and (min-width :320px) and (max-width :480px) {
    .nav3{
        display: none;
    }
    
    .nav1{
        height: 100%;
        width: 100%;
    }
    .maindiv{
        height: 100%;
        width: 100vw;
    }

    .subdiv1{
        width: 46%;
        height: 6%;
    }.img1{
        height: 70%;
        width: 100%;

    }
    #hj {
        height: 35%;
        width: 12%;
        position: relative;
        right: 70px;
    }

    #hk {
        position: relative;
        right: 70px;
    }

    #hl {
        position: relative;
        right: 70px;
    }
    .Footer1 {
        height: 120vh;
        width: 100vw;
        flex-direction: column;
        /* border: 1px solid white; */
    }

    .line1 {
        height: 70%;
        /* border: 1px solid red; */
        flex-direction: column;
    }

    .line3 {
        display: none;
    }

    .line15 {
        height: 100%;
        width: 100%;
        display: flex;
        /* border: 1px solid white; */
        flex-direction: row;
        flex-wrap: wrap;
    }

    .line4 {
        width: 100%;
        height: 30%;
        /* border: 1px solid blue; */
        align-items: center;
        justify-content: center;

    }

    .line7 {
        height: 100%;
        width:80%;
        /* border: 1px solid blue; */
        font-size: small;
        justify-content: center;
    }

    .line2 {
        /* border: 1px solid yellow; */
        width: 100%;
        height: 30%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .ik{
        /* border: 1px solid blue; */
        height:100px;
        width: 22%;
        align-items: center;
        justify-content: flex-end;
    }
    #logo{
        height: 50px;
        width: 50px;
    }
    

    .line5 {
        width: 49%;
        height: 60%;
        /* border: 1px solid blue; */

    }

    .line8 {
        height: 100%;
        width: 78%;
        /* border: 1px solid blue; */
        font-size: small;
        justify-content: flex-start;
    }

    .line6 {
        width: 45%;
        height: 60%;
        /* border: 1px solid blue; */
    }

    .line9 {
        height: 100%;
         width: 100%;
        /* border: 1px solid blue; */
        font-size: small;
        justify-content: flex-start;
    }

    .line10 {
        height: 20%;
        width:100% ;
        display: flex;
        /* border: 1px solid blue; */
        justify-content: flex-start;
    }
    .line11{
        height: 20%;
        width: 80%;
        display: flex;
        font-size: small;
        /* border: 1px solid blue; */
    }

}
@media only screen and (min-width :481px) and (max-width :768px) {
    .nav3{
        display: none;
    }

    .maindiv{
        height: 100%;
        width: 100%;
        /* border: 1px solid blue; */
    }

    .subdiv1{
        width: 45%;
        height: 5%;
        /* border: 1px solid blue; */
    }.img1{
        height: 80%;
        width: 100%;
        /* border: 1px solid blue; */

    }
    .lb1{
        height: 20%;
        width: 100%;

    }
    #hj {
        height: 35%;
        width: 12%;
        position: relative;
        right: 70px;
    }

    #hk {
        position: relative;
        right: 70px;
    }

    #hl {
        position: relative;
        right: 70px;
    }
    .Footer1 {
        height: 100%;
        width: 100%;
        flex-direction: column;
        /* border: 1px solid white; */
    }

    .line1 {
        height: 70%;
        /* border: 1px solid red; */
        flex-direction: column;
    }

    .line3 {
        display: none;
    }

    .line15 {
        height: 100%;
        width: 100%;
        display: flex;
        /* border: 1px solid white; */
        flex-direction: row;
        flex-wrap: wrap;
    }

    .line4 {
        width: 100%;
        height: 30%;
        /* border: 1px solid blue; */
        align-items: center;
        justify-content: center;

    }

    .line7 {
        height: 100%;
        width:80%;
        /* border: 1px solid blue; */
        font-size: small;
        justify-content: center;
    }

    .line2 {
        /* border: 1px solid yellow; */
        width: 100%;
        height: 30%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .ik{
        /* border: 1px solid blue; */
        height:100px;
        width: 22%;
        align-items: center;
        justify-content: flex-end;
    }
    #logo{
        height: 50px;
        width: 50px;
    }
    

    .line5 {
        width: 49%;
        height: 60%;
        /* border: 1px solid blue; */

    }

    .line8 {
        height: 100%;
        width: 78%;
        /* border: 1px solid blue; */
        font-size: small;
        justify-content: flex-start;
    }

    .line6 {
        width: 45%;
        height: 60%;
        /* border: 1px solid blue; */
    }

    .line9 {
        height: 100%;
         width: 100%;
        /* border: 1px solid blue; */
        font-size: small;
        justify-content: flex-start;
    }

    .line10 {
        height: 20%;
        width:100% ;
        display: flex;
        /* border: 1px solid blue; */
        justify-content: flex-start;
    }
    .line11{
        height: 20%;
        width: 80%;
        display: flex;
        font-size: small;
        /* border: 1px solid blue; */
    }
}
@media only screen and (min-width :769px) and (max-width :1024px) {
    .nav3{
        display: none;
    }
    .Header1{
        height: 40vh;
        width: 100vw;
    }
    .maindiv{
        height: 400vh;
        width: 100vw;
    }
    .subdiv1{
        width: 31%;
        height: 9%;
    }.img1{
        height: 70%;
        width: 100%;
    }
    .subdiv2{
        height: 10%;
        width: 31%;
        justify-content: flex-start;
        /* border: 1px solid blue; */
        position: relative;
        right: 67px;
    }
    .img2{
        /* border: 1px solid blue; */
        height:60%;
        width: 100%;
    }
    .nav2{
        height: 50%;
        width: 50%;
        /* border: 1px solid blue; */
    }
    #hj {
        height: 35%;
        width: 12%;
        position: relative;
        right: 70px;
    }

    #hk {
        position: relative;
        right: 70px;
    }

    #hl {
        position: relative;
        right: 70px;
    }
    .Footer1 {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        /* border: 1px solid white; */
    }
    .line1 {
        height: 70%;
        /* border: 1px solid red; */
        flex-direction: row;
    }
    .line2{
        /* border: 1px solid blue; */
        height: 100%;
        width: 20%;
        
    }
    .ik{
        /* border: 1px solid blue; */
        width:50% ;
        height:45% ;
    }
    #logo{
        height: 50px;
        width: 50px;
    }
    .line3{
        height: 100%;
        width: 20%;
    }
    .line15{
        height: 100%;
        width: 70%;

    }
    .line4{
        height: 100%;
        width: 37%;
        /* border: 1px solid blue; */
        align-items: flex-start;
        
    }
    .line7{
        /* border: 1px solid blue; */
        width: 100%;
        height: 50%;
        font-size: medium;
    }
    .line5{
        /* border: 1px solid blue; */
        height: 100%;
        width: 30%;
       justify-content: center;

    }
    .line8{
        /* border: 1px solid blue; */
        height:50% ;
        width: 80%;
        font-size: medium;
    }
    .line6{
        height: 100%;
        width:30% ;

    }
    .line9{
        height: 53%;
        width: 80%;
    }
    .line10{
        /* border: 1px solid blue; */
        height: 20%;
        width: 50%;
    }
}


 